﻿<footer class="footer-section bg_img" data-background="~/Themes/assets/images/elements/footer.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="subscribe-area">
                    <div class="obj"><img src="~/Themes/assets\images\elements\subscribe.png" alt="image"></div>
                    <div class="subscribe-content">
                        <h2 class="title">Find Out About New Games!</h2>
                        <p>Subscribe to get updated on future game releases</p>
                        <p>
                            <form class="subscribe-form">
                                <input type="email" name="subscribe_email" id="subscribe_email" placeholder="Enter Your Email">
                                <button type="submit">Subscribe</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-top mb-none-50">
            <div class="col-lg-3 col-sm-6 mb-50">
                <div class="footer-widget">
                    <h3 class="footer-widget__title">ABOUT</h3>
                    <ul class="short-links">
                        <li><a href="#0">About Us</a></li>
                        <li><a href="#0">Contact Us</a></li>
                        <li><a href="#0">Customer Reviews</a></li>
                        <li><a href="#0">Privacy Policy</a></li>
                    </ul>
                </div><!-- footer-widget end -->
            </div>
            <div class="col-lg-3 col-sm-6 mb-50">
                <div class="footer-widget">
                    <h3 class="footer-widget__title">MY ACCOUNT</h3>
                    <ul class="short-links">
                        <li><a href="#0">Manage Your Account</a></li>
                        <li><a href="#0">Account Varification</a></li>
                        <li><a href="#0">Safety & Security</a></li>
                    </ul>
                </div><!-- footer-widget end -->
            </div>
            <div class="col-lg-3 col-sm-6 mb-50">
                <div class="footer-widget">
                    <h3 class="footer-widget__title">HELP CENTER</h3>
                    <ul class="short-links">
                        <li><a href="#0">Help centre</a></li>
                        <li><a href="#0">FAQ</a></li>
                        <li><a href="#0">Quick Start Guide</a></li>
                        <li><a href="#0">Tutorials</a></li>
                    </ul>
                </div><!-- footer-widget end -->
            </div>
            <div class="col-lg-3 col-sm-6 mb-50">
                <div class="footer-widget">
                    <h3 class="footer-widget__title">LEGAL INFO</h3>
                    <ul class="short-links">
                        <li><a href="#0">Security</a></li>
                        <li><a href="#0">Terms of Service</a></li>
                        <li><a href="#0">Become Affiliate</a></li>
                        <li><a href="#0">Complaints Policy</a></li>
                    </ul>
                </div><!-- footer-widget end -->
            </div>
        </div><!-- footer-top end -->
        <div class="row footer-bottom align-items-center">
            <div class="col-lg-7 col-md-6 text-md-left text-center">
                <p class="copy-right-text">Copyright © 2020.All Rights Reserved By <a href="#0">OPHELA</a></p>
            </div>
            <div class="col-lg-5 col-md-6 mt-md-0 mt-3">
                <ul class="social-links justify-content-md-end justify-content-center">
                    <li><a href="#0"><i class="lab la-facebook-f"></i></a></li>
                    <li><a href="#0"><i class="lab la-twitter"></i></a></li>
                    <li><a href="#0"><i class="lab la-pinterest-p"></i></a></li>
                    <li><a href="#0"><i class="lab la-google-plus"></i></a></li>
                    <li><a href="#0"><i class="lab la-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>