﻿<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ophela - Gaming Studio HTML Template</title>
    <!-- site favicon -->
    <link rel="icon" type="image/png" href="~/Themes/assets\images\favicon.png" sizes="16x16">
    <!-- bootstrap 4  -->
    <link rel="stylesheet" href="~/Themes/assets\css\vendor\bootstrap.min.css">
    <!-- fontawesome 5  -->
    <link rel="stylesheet" href="~/Themes/assets\css\all.min.css">
    <!-- line-awesome webfont -->
    <link rel="stylesheet" href="~/Themes/assets\css\line-awesome.min.css">
    <!-- custom select css -->
    <link rel="stylesheet" href="~/Themes/assets\css\vendor\nice-select.css">
    <!-- animate css  -->
    <link rel="stylesheet" href="~/Themes/assets\css\vendor\animate.min.css">
    <!-- lightcase css -->
    <link rel="stylesheet" href="~/Themes/assets\css\vendor\lightcase.css">
    <!-- slick slider css -->
    <link rel="stylesheet" href="~/Themes/assets\css\vendor\slick.css">
    <!-- style main css -->
    <link rel="stylesheet" href="~/Themes/assets\css\main.css">
</head>
<body>

    <!-- prealoader start  -->
    <div class="preloader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
    <!-- prealoader end -->
    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
        <span class="scroll-icon">
            <i class="las la-arrow-up"></i>
        </span>
    </div>
    <!-- scroll-to-top end -->
    <!-- page-wrapper start -->
    <div class="page-wrapper">
        <!-- login modal -->
        <div class="modal fade" id="loginModal" tabindex="1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-transparent">
                    <div class="modal-body">
                        <div class="account-area">
                            <h3 class="title mb-4">Welcome to Ophela</h3>
                            <form class="account-form">
                                <div class="form-group">
                                    <label>Your Email </label>
                                    <input type="email" name="login_email" placeholder="Enter Your Email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Password </label>
                                    <input type="password" name="login_email" placeholder="Enter Your Password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <p>Forgot your password? <a href="#0">recover password</a></p>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="cmn-btn">Sign IN</button>
                                </div>
                            </form>
                            <div class="or-devider mt-5"><span>OR</span></div>
                            <div class="text-center mt-4">
                                <p>Sign up with your work email</p>
                                <a href="#0" class="google-btn mt-4 mb-3"><img src="~/Themes/assets\images\icon\google.png" alt="image">Sign Up with Google</a>
                                <p>Don't have an account? <a href="#0" data-dismiss="modal" data-toggle="modal" data-target="#signupModal">Sign up here</a></p>
                            </div>
                        </div><!-- account-area end -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Sign Up modal -->
        <div class="modal fade" id="signupModal" tabindex="1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-transparent">
                    <div class="modal-body">
                        <div class="account-area">
                            <h3 class="title mb-4">Let's get started</h3>
                            <div class="text-center mt-4">
                                <a href="#0" class="google-btn mt-4 mb-3"><img src="~/Themes/assets\images\icon\google.png" alt="image">Sign Up with Google</a>
                            </div>
                            <div class="or-devider mt-4"><span>OR</span></div>
                            <p class="text-center mt-2 mb-4">Sign up with your work email</p>
                            <form class="account-form">
                                <div class="form-group">
                                    <label>Your Email </label>
                                    <input type="email" name="login_email" placeholder="Enter Your Email" class="form-control">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="cmn-btn">Try It Now</button>
                                </div>
                            </form>
                            <p class="text-center mt-3">Already have an account?<a href="#0" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Sign In</a></p>
                        </div><!-- account-area end -->
                    </div>
                </div>
            </div>
        </div>

        <!-- header-section start  -->
        @{ Html.RenderPartial("_Header");}
        <!-- header-section end  -->
        <!-- hero section start -->
        @RenderBody()
        <!-- blog section end -->
        <!-- footer section start  -->
        @{ Html.RenderPartial("_Footer");}
        <!-- footer section end -->
    </div>
    <!-- page-wrapper end -->
    <!-- jQuery library -->
    <script src="~/Themes/assets\js\vendor\jquery-3.5.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Themes/assets\js\vendor\bootstrap.bundle.min.js"></script>
    <!-- custom select js -->
    <script src="~/Themes/assets\js\vendor\jquery.nice-select.min.js"></script>
    <!-- lightcase js -->
    <script src="~/Themes/assets\js\vendor\lightcase.js"></script>
    <!-- wow js -->
    <script src="~/Themes/assets\js\vendor\wow.min.js"></script>
    <!-- slick slider js -->
    <script src="~/Themes/assets\js\vendor\slick.min.js"></script>
    <script src="~/Themes/assets\js\vendor\TweenMax.min.js"></script>
    <!-- contact js -->
    <script src="~/Themes/assets\js\contact.js"></script>
    <script src="http://rexbd.net/html/sporcia/demo/assets/js/vendor/jquery.paroller.min.js"></script>
    <!-- custom js -->
    <script src="~/Themes/assets\js\app.js"></script>
</body>
</html>