﻿@model Entities.GameEntities

@{
    ViewBag.Title = "Add New Game";
}


<form method="post" action="~/Admin/Game/Save" enctype="multipart/form-data">
    @Html.ValidationSummary()
    <div class="form-group">
        <label>Tên hàng:</label>
        <input type="text" class="form-control" name="GameName" id="GameName" value="@Model.GameName">

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>DungLuong</label>
                <input type="text" class="form-control" name="Capacity" id="Capacity" value="@Model.Capacity">

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control" name="Price" id="Price" value="@Model.Price" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>DungLuong</label>
                <input type="text" class="form-control" name="Capacity" id="Capacity" value="@Model.Capacity">

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Image </label>
                <input type="text" class="form-control" name="Imagethumb" id="Imagethumb" value="@Model.Imagethumb" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>linkAdroid </label>
                <input type="text" class="form-control" name="linkAdroid" id="linkAdroid" value="@Model.linkAdroid">

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>linkPc </label>
                <input type="text" class="form-control" name="linkPc" id="linkPc" value="@Model.linkPc " required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>detail </label>
                <input type="text" class="form-control" name="detail" id="detail" value="@Model.detail " required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>

        <input type="file" name="uploadFile"  value ="uploadFile"class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu dữ liệu
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Admin/Game/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Bỏ qua
            </a>
        </div>
    </div>
</form>


