﻿
@model Entities.GameEntities
@{
    ViewBag.Title = "Are you sure Delete this Game ?";
}
<form class="form-horizontal" method="post" action="~/Admin/Game/Delete/@Model.GameId">
    <div class="form-group">
        <label class="control-label col-sm-2">Tên Thể loại :</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.GameName </p>
        </div>
        <label class="control-label col-sm-2">Description :</label>

    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-sm-10">
            <p class="text-danger" style="font-size:18px">
                Are you sure Delete this Game ? <b>@Model.GameName</b>
            </p>
        </div>
        <div class="col-lg-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger">Yes</button>
            <a href="~/Game/Index" class="btn btn-warning">Cancel</a>
        </div>
    </div>
</form>






