﻿@model Entities.GameEx
<form method="post" action="~/Admin/Game/Save" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.GameId)
    <div class="form-group">
        @Html.ValidationSummary()
    </div>
    <div class="form-group">
        <label>GameName</label>
        @Html.TextBoxFor(m => m.GameName, new { @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.GameName)

    </div>
    <div class="form-group">
        <label>Capacity</label>
        @Html.TextBoxFor(m => m.Capacity, new { @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Capacity)

    </div>
    <div class="form-group">
        <label>Price</label>
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Price)

    </div>
    <div class="form-group">
        <label>Imagethumb</label>
        @Html.TextBoxFor(m => m.Imagethumb, new { @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Imagethumb)

    </div>

    <div class="form-group">
        <label>linkAdroid</label>
        @Html.TextBoxFor(m => m.linkAdroid, new { @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.linkAdroid)

    </div>

    <div class="form-group">
        <label>linkPc</label>
        @Html.TextBoxFor(m => m.linkPc, new { @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.linkPc)

    </div>
    <div class="form-group">
        <label>detail</label>
        @Html.TextBoxFor(m => m.detail, new { @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.detail)

    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        @Html.HiddenFor(m => m.fileParth)
        <input type="file" name="uploadFile" value="@Model.fileParth" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-6">
            <button type="submit" class="btn-primary">
                <i class="fa fa-save"></i>Save
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Admin/Game/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Cancel
            </a>
        </div>
    </div>

</form>
<form action="~/Admin/Game/DeleteDescription/@Model.GameId" method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:50px;"></th>
                <th>DescriptionContent</th>

                <th>
                    <button type="submit" class="btn btn-xs btn-danger">
                        <i class="fa fa-window-close"></i>
                    </button>
                    <ul class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal_AddAttribute">
                        <i class="fa fa-plus"></i>
                    </ul>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listDescriptions)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="DescriptionId" value="@item.DesciptionId" />
                    </td>
                    <td> @item.DescriptionContent" </td>

                    <td>
                        <ul class="btn btn-sm btn-info" data-toggle="modal" data-target="#@item.DesciptionId">
                            <i class="fa fa-edit"></i>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

    @foreach (var item in Model.listDescriptions)
    {
        <div id="@item.DesciptionId" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><strong>Edit Description</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="~/Admin/Game/SaveDescription/@Model.GameId">
                            <input type="hidden" class="form-control" name="GameId" id="GameId" value="@Model.GameId" />
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="DesciptionId" id="DesciptionId" value="@item.DesciptionId">
                                <label>Tên danh mục sản phẩm:</label>
                                <input type="text" class="form-control" name="DescriptionContent" id="DescriptionContent" autofocus value="@item.DescriptionContent">
                            </div>

                            <button class="btn btn-warning" type="submit">
                                <i class="glyphicon glyphicon-edit"></i> Edit
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    }
<div id="myModal_AddAttribute" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Add DesCription</strong></h4>
            </div>
            <div class="modal-body">
                <form method="post" action="~/Admin/Game/SaveDescription/@Model.GameId">
                    <div class="form-group">

                        <label>DescriptionContent:</label>
                        <input type="text" class="form-control" name="DescriptionContent" id="DescriptionContent" autofocus required />
                        <input type="hidden" class="form-control" name="GameId" id="GameId" autofocus value="@Model.GameId" />
                    </div>

                    <button class="btn btn-primary" type="submit">
                        <i class="glyphicon glyphicon-plus"></i> Add
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>
@*hien thi danh sach anh cac thuoc tinh de xem, sua, xoa*@
<form action="~/Admin/Game/DeleteImage/@Model.GameId" method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:50px;"></th>
                <th>Ảnh</th>
                <th>
                    <button type="submit" class="btn btn-xs btn-danger">
                        <i class="fa fa-window-close"></i>
                    </button>
                    <ul class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal_AddGallery">
                        <i class="fa fa-plus"></i>
                    </ul>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listImage)
            {
            <tr>
                <td>
                    <input type="checkbox" name="imageIds" value="@item.ImageId" />
                </td>
                <td><img src="@item.ImagePath" style="width:100px" /></td>


                <td>
                    <ul class="btn btn-sm btn-info" data-toggle="modal" data-target="#@item.ImageId">
                        <i class="fa fa-edit"></i>
                    </ul>
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>
@foreach (var item in Model.listImage)
{
    <div id="@item.ImageId" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Edit Image</strong></h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="~/Admin/Game/SaveImage/@Model.GameId">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="GameId" id="GameId" autofocus value="@Model.GameId" />
                            <input type="hidden" value="@item.ImagePath"/>
                            <input type="file" name="ImageFile" value="@item.ImagePath" class="form-control-file" id="exampleFormControlFile1"  accept="image/png , image/jpeg  ,image/jpg />
                        </div>
                        <div class="form-group">
                            <label>Image:</label>
                            <input type="hidden" class="form-control" name="ImagePath" id="ImageId" value="@item.ImageId">
                        </div>

                        <button class="btn btn-warning" type="submit">
                            <i class="glyphicon glyphicon-edit"></i> Edit
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
}
<div id="myModal_AddGallery" class="modal fade" role="dialog">
    <div class="modal-dialog">

         Modal content
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Add Image</strong></h4>
            </div>
            <div class="modal-body">
                <form method="post" action="~/Admin/Game/SaveImage/@Model.GameId " enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="GameId" id="GameId" value="@Model.GameId" />
                    </div>
                    <div class="form-group">
              
                        <label for="exampleFormControlFile1">ImageParth </label>

                        <input type="file" name="ImageFile" value="ImageFile" class="form-control-file" id="exampleFormControlFile1"  accept="image/png , image/jpeg  ,image/jpg >
                    </div>

                    <button class="btn btn-primary" type="submit">
                        <i class="glyphicon glyphicon-plus"></i> Add
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>