﻿@model IEnumerable<Entities.GameEntities>
@{
    Layout = null;
}
<div class="text-left">
    <p>Có tất cả <strong>@ViewBag.RowCount</strong> mặt hàng. Bạn đang ở trang <strong>@ViewBag.Page</strong> trên tổng số <strong>@ViewBag.PageSize</strong> trang.</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>GameName</th>
            <th>Capacity</th>
            <th>Price</th>
            <th class="text-right">
                <a href="~/Admin/Game/Add" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.GameName</td>
                <td>@item.Capacity</td>
                <td>@item.Price</td>

                <td class="text-right">
                    <a href="~/Admin/Game/Edit/@item.GameId" class="btn btn-sm btn-info fa fa-edit">

                    </a>
                    <a href="~/Admin/Game/Delete/@item.GameId" class="btn btn-sm btn-danger fa fa-remove-format">

                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <ul class="pagination">
        @for (int page = 1; page <= ViewBag.PageCount; page++)
        {
            if (page == ViewBag.Page)
            {
                <li class="active"><a href="javascript:;">@page</a></li>
            }
            else
            {
                <li class="active"><a href="javascript:;" onclick="getGame(@page)">@page</a></li>
            }
        }
    </ul>
</div>

