﻿
@model Entities.Categories
@{
    ViewBag.Title = "Xác Nhận Xóa Loại Game";
}
<form class="form-horizontal" method="post" action="~/Category/Delete/@Model.CategoryId">
    <div class="form-group">
        <label class="control-label col-sm-2">Tên Thể loại :</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.CategoryName </p>
        </div>
        <label class="control-label col-sm-2">Description :</label>

    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-sm-10">
            <p class="text-danger" style="font-size:18px">
                Bạn Có Chắc Muốn Xóa Loại Hàng <b>@Model.CategoryName</b>
            </p>
        </div>
        <div class="col-lg-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger">Đồng Ý Xóa</button>
            <a href="~/Category/Index" class="btn btn-warning">Bỏ qua</a>
        </div>
    </div>
</form>






