﻿@model Entities.Categories
<form method="post" action="~/Category/Save">
    @Html.HiddenFor(m => m.CategoryId)
    <div class="form-group">
        @*//  @Html.ValidationSummary()*@
    </div>
    <div class="form-group">
        <label>Tên : CategoryName</label>
        @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.CategoryName)
        @*<input type="text" class="form-control" name="CategoryName" id="CategoryName" autofocus value="@Model.CategoryName">*@
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-6">
            <button type="submit" class="btn-primary">
                <i class="fa fa-save"></i>Save
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Category/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Cancel
            </a>
        </div>
    </div>

</form>
