﻿@model IEnumerable<Entities.GameEntities>
<section class="hero bg_img" data-background="~/Themes/assets/images/bg/hero.jpg">
    <div class="hero__shape">
        <img src="~/Themes/assets\images\elements\hero\shape.png" alt="image">
    </div>
    <div class="el-1"><img src="~/Themes/assets\images\elements\hero\el-1.png" alt="image"></div>
    <div class="el-2"><img src="~/Themes/assets\images\elements\hero\el-2.png" alt="image"></div>
    <div class="el-3"><img src="~/Themes/assets\images\elements\hero\el-3.png" alt="image"></div>
    <div class="el-4"><img src="~/Themes/assets\images\elements\hero\el-4.png" alt="image"></div>
    <div class="el-5"><img src="~/Themes/assets\images\elements\hero\el-5.png" alt="image"></div>
    <div class="el-6"><img src="~/Themes/assets\images\elements\hero\el-6.png" alt="image"></div>
    <div class="el-7"><img src="~/Themes/assets\images\elements\hero\el-7.png" alt="image"></div>
    <div class="el-8"><img src="~/Themes/assets\images\elements\hero\el-8.png" alt="image"></div>
    <div class="el-9"><img src="~/Themes/assets\images\elements\hero\el-9.png" alt="image"></div>
    <div class="el-10"><img src="~/Themes/assets\images\elements\hero\el-10.png" alt="image"></div>
    <div class="el-11"><img src="~/Themes/assets\images\elements\hero\el-11.png" alt="image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="hero__content">
                    <span class="hero__sub-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">GAME STUDIOS</span>
                    <h2 class="hero__title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Engaging Through Play </h2>
                    <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.7s">Our games entertain millions of people every day, everywhere</p>
                    <a href="games.html" class="cmn-btn wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">play now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero section end -->
<!-- game section start -->
<section class="pt-120 pb-120 position-relative overflow-hidden">
    <div class="game-el-1" data-paroller-factor="-0.1" data-paroller-type="foreground" data-paroller-direction="vertical"><img src="~/Themes/assets\images\elements\game-el-1.png" alt="image"></div>
    <div class="game-el-2" data-paroller-factor="-0.1" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="~/Themes/assets\images\elements\game-el-2.png" alt="image"></div>
    <div class="game-el-3" data-paroller-factor="0.1" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="~/Themes/assets\images\elements\game-el-3.png" alt="image"></div>
    <div class="game-el-4" data-paroller-factor="0.25" data-paroller-type="foreground" data-paroller-direction="vertical"><img src="~/Themes/assets\images\elements\game-el-4.png" alt="image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section-header text-center has--bg">
                    <div class="header-image"><img src="~/Themes/assets\images\elements\header-el.png" alt="image"></div>
                    <h2 class="section-title">Top Games</h2>
                </div>
            </div>
        </div><!-- row end -->
       
        <div class="row mb-none-40">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 mb-40  wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.3s">
                    <div class="game-card">
                        <div class="game-card__thumb">
                            <img src="@item.Imagethumb" alt="image">
                        </div>
                        <div class="game-card__content">
                            <div class="game-card__details">
                                <div class="game-card__info">
                                    <div class="thumb"><img src="@item.Imagethumb" alt="image"></div>
                                    <div class="content">
                                        <h3 class="game-card__title"><a href="~/Home/Detail/@item.GameId">@item.GameName</a></h3>
                                        <p>@item.detail <a href="#0">Read More</a></p>
                                    </div>
                                </div>
                                <div class="game-card__ratings">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <span>(4.5)</span>
                                </div>
                            </div>
                            <div class="game-card__action">
                                <p class="mb-2">Download now at</p>
                                <a href="@item.linkAdroid"><img src="~/Themes/assets\images\elements\apple-btn.png" alt="image"></a>
                                <a href="@item.linkPc"><img src="~/Themes/assets\images\elements\google-btn.png" alt="image"></a>
                            </div>
                        </div><!-- game-card__content end -->
                    </div><!-- game-card end -->
                    
                </div>
            }




 
            </div>
        </div>
</section>
<!-- game section end -->
<!-- trailer section start -->
<section class="pt-120 pb-120 position-relative">
    <div class="bg-el"><img src="~/Themes/assets\images\bg\video.jpg" alt="image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section-header text-center has--bg">
                    <div class="header-image"><img src="~/Themes/assets\images\elements\header-el.png" alt="image"></div>
                    <h2 class="section-title">Game Trailers</h2>
                </div>
            </div>
        </div><!-- row end -->
        <div class="row">
            <div class="col-lg-12">
                <div class="trailer-slider">
                    <div class="single-slide">
                        <div class="trailer">
                            <div class="trailer__thumb">
                                <img src="~/Themes/assets\images\bg\video-thumb.jpg" alt="image">
                                <a href="https://www.youtube.com/embed/ssrNcwxALS4" data-rel="lightcase:myCollection" class="play-icon" data-animation="zoomIn" data-delay=".3s"><i class="fas fa-play"></i></a>
                            </div>
                            <div class="cartoon" data-animation="fadeInUp" data-delay=".5s"><img src="~/Themes/assets\images\elements\trailer-cartoon.png" alt="image"></div>
                        </div><!-- trailer end -->
                    </div><!-- single-slide end -->
                    <div class="single-slide">
                        <div class="trailer">
                            <div class="trailer__thumb">
                                <img src="~/Themes/assets\images\bg\video-thumb.jpg" alt="image">
                                <a href="https://www.youtube.com/embed/ssrNcwxALS4" data-rel="lightcase:myCollection" class="play-icon" data-animation="zoomIn" data-delay=".3s"><i class="fas fa-play"></i></a>
                            </div>
                            <div class="cartoon" data-animation="fadeInUp" data-delay=".3s"><img src="~/Themes/assets\images\elements\trailer-cartoon.png" alt="image"></div>
                        </div><!-- trailer end -->
                    </div><!-- single-slide end -->
                    <div class="single-slide">
                        <div class="trailer">
                            <div class="trailer__thumb">
                                <img src="~/Themes/assets\images\bg\video-thumb.jpg" alt="image">
                                <a href="https://www.youtube.com/embed/ssrNcwxALS4" data-rel="lightcase:myCollection" class="play-icon" data-animation="zoomIn" data-delay=".3s"><i class="fas fa-play"></i></a>
                            </div>
                            <div class="cartoon" data-animation="fadeInUp" data-delay=".3s"><img src="~/Themes/assets\images\elements\trailer-cartoon.png" alt="image"></div>
                        </div><!-- trailer end -->
                    </div><!-- single-slide end -->
                </div>
                <div class="trailer-content-area">
                    <div class="content">
                        <div class="content-slider">
                            <div class="single-slide">
                                <h4 class="title">The Crazy Farm Game</h4>
                                <a href="game-details.html" class="mt-3">View Details</a>
                            </div><!-- single-slide end -->
                            <div class="single-slide">
                                <h4 class="title">The Crazy Farm Game</h4>
                                <a href="game-details.html" class="mt-3">View Details</a>
                            </div><!-- single-slide end -->
                            <div class="single-slide">
                                <h4 class="title">The Crazy Farm Game</h4>
                                <a href="game-details.html" class="mt-3">View Details</a>
                            </div><!-- single-slide end -->
                        </div>
                        <button class="trailernav-prev">Prev</button>
                        <button class="trailernav-next">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- trailer section end -->
<!-- about section start -->
<section class=" pt-120 pb-120 position-relative overflow-hidden">
    <div class="about-obj-1" data-paroller-factor="-0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="~/Themes/assets\images\elements\about-obj-1.png" alt="image"></div>
    <div class="about-obj-2" data-paroller-factor="0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="~/Themes/assets\images\elements\about-obj-2.png" alt="image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="about-content">
                    <div class="section-header has--bg">
                        <div class="header-image style--two"><img src="~/Themes/assets\images\elements\header-el-2.png" alt="image"></div>
                        <h2 class="section-title">We Focus on Quality Entertainment</h2>
                    </div>
                    <p>Our main focus is to provide the best entertainment possible for our players. We place key emphasis on creating games that are of a high quality in every way possible. This means that we ensure that all our games themes are engaging, our features unique and captivating and our art, stunning and precise! We don’t cut corners and do whatever is necessary to offer a memorable gameplay experience.</p>
                    <a href="about.html" class="cmn-btn mt-5">learn more</a>
                </div>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-4">
                <div class="about-thumb">
                    <img src="~/Themes/assets\images\elements\about-player.png" alt="image" class="image-1">
                    <img src="~/Themes/assets\images\elements\about-phone.png" alt="image" class="image-2">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->
<!-- overview section start -->
<section class="pt-120 pb-120 position-relative">
    <div class="bg-el h-75"><img src="~/Themes/assets\images\bg\overview.jpg" alt="image" class="h-100"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section-header text-center has--bg">
                    <div class="header-image"><img src="~/Themes/assets\images\elements\header-el.png" alt="image"></div>
                    <h2 class="section-title">Track Record</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-none-30">
            <div class="col-lg-4 col-md-6 mb-30 wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
                <div class="overview-card">
                    <div class="overview-card__icon">
                        <img src="~/Themes/assets\images\icon\overview\1.png" alt="image">
                    </div>
                    <div class="overview-card__content">
                        <h4 class="overview-card__number">+12,000</h4>
                        <p>Games</p>
                    </div>
                </div><!-- overview-card end -->
            </div>
            <div class="col-lg-4 col-md-6 mb-30 wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
                <div class="overview-card">
                    <div class="overview-card__icon">
                        <img src="~/Themes/assets\images\icon\overview\2.png" alt="image">
                    </div>
                    <div class="overview-card__content">
                        <h4 class="overview-card__number">+398943</h4>
                        <p>players</p>
                    </div>
                </div><!-- overview-card end -->
            </div>
            <div class="col-lg-4 col-md-6 mb-30 wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.7s">
                <div class="overview-card">
                    <div class="overview-card__icon">
                        <img src="~/Themes/assets\images\icon\overview\3.png" alt="image">
                    </div>
                    <div class="overview-card__content">
                        <h4 class="overview-card__number">+103</h4>
                        <p>champions</p>
                    </div>
                </div><!-- overview-card end -->
            </div>
        </div><!-- row end -->
        <div class="row justify-content-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
            <div class="col-lg-10">
                <div class="testimonial-slider">
                    <div class="testimonial-single">
                        <div class="testimonial-single__thumb" data-animation="fadeInUp" data-delay=".3s">
                            <img src="~/Themes/assets\images\testimonial\1.png" alt="image">
                        </div>
                        <div class="testimonial-single__content" data-animation="fadeInUp" data-delay=".5s">
                            <p>Vestibulum tincidunt tincidunt nisl id congue. Nam feugiat libero eu mattis bibendum. Maecenas luctus ante vel vestibulum ultrices.</p>
                            <span class="designation">Jonathan Davis</span>
                            <div class="ratings">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="point">(4.5)</span>
                            </div>
                        </div>
                    </div><!-- testimonial-single end -->
                    <div class="testimonial-single">
                        <div class="testimonial-single__thumb" data-animation="fadeInUp" data-delay=".3s">
                            <img src="~/Themes/assets\images\testimonial\1.png" alt="image">
                        </div>
                        <div class="testimonial-single__content" data-animation="fadeInUp" data-delay=".5s">
                            <p>Vestibulum tincidunt tincidunt nisl id congue. Nam feugiat libero eu mattis bibendum. Maecenas luctus ante vel vestibulum ultrices.</p>
                            <span class="designation">Jonathan Davis</span>
                            <div class="ratings">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="point">(4.5)</span>
                            </div>
                        </div>
                    </div><!-- testimonial-single end -->
                    <div class="testimonial-single">
                        <div class="testimonial-single__thumb" data-animation="fadeInUp" data-delay=".3s">
                            <img src="~/Themes/assets\images\testimonial\1.png" alt="image">
                        </div>
                        <div class="testimonial-single__content" data-animation="fadeInUp" data-delay=".5s">
                            <p>Vestibulum tincidunt tincidunt nisl id congue. Nam feugiat libero eu mattis bibendum. Maecenas luctus ante vel vestibulum ultrices.</p>
                            <span class="designation">Jonathan Davis</span>
                            <div class="ratings">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="point">(4.5)</span>
                            </div>
                        </div>
                    </div><!-- testimonial-single end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- overview section end -->
<!-- blog section start -->
<section class="pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-header has--bg style--two">
                    <div class="header-image style--two"><img src="~/Themes/assets\images\elements\header-el-4.png" alt="image"></div>
                    <span class="section-sub-title">RECENT POSTS</span>
                    <h2 class="section-title">Game News</h2>
                </div>
                <a href="blog-one.html" class="cmn-btn">View All posts</a>
            </div>
            <div class="col-lg-8 mt-lg-0 mt-5">
                <div class="blog-slider">
                    <div class="post-card">
                        <div class="post-card__thumb">
                            <img src="~/Themes/assets\images\blog\1.jpg" alt="image">
                        </div>
                        <div class="post-card__content">
                            <span class="date">Sep 15, 2020</span>
                            <h3 class="post-title"><a href="blog-details.html">Benefits of Gaming - PC and Video Games</a></h3>
                            <div class="post-author mt-3">
                                <div class="post-author__thumb">
                                    <img src="~/Themes/assets\images\blog\author.png" alt="image">
                                </div>
                                <a href="#0" class="post-author__name">Andres Todd</a>
                            </div>
                        </div>
                    </div><!-- post-card end -->
                    <div class="post-card">
                        <div class="post-card__thumb">
                            <img src="~/Themes/assets\images\blog\2.jpg" alt="image">
                        </div>
                        <div class="post-card__content">
                            <a href="#0" class="post-type"><i class="las la-file-alt"></i></a>
                            <span class="date">Sep 15, 2020</span>
                            <h3 class="post-title"><a href="blog-details.html">Benefits of Gaming - PC and Video Games</a></h3>
                            <div class="post-author mt-3">
                                <div class="post-author__thumb">
                                    <img src="~/Themes/assets\images\blog\author.png" alt="image">
                                </div>
                                <a href="#0" class="post-author__name">Andres Todd</a>
                            </div>
                        </div>
                    </div><!-- post-card end -->
                    <div class="post-card">
                        <div class="post-card__thumb">
                            <img src="~/Themes/assets\images\blog\1.jpg" alt="image">
                        </div>
                        <div class="post-card__content">
                            <span class="date">Sep 15, 2020</span>
                            <h3 class="post-title"><a href="blog-details.html">Benefits of Gaming - PC and Video Games</a></h3>
                            <div class="post-author mt-3">
                                <div class="post-author__thumb">
                                    <img src="~/Themes/assets\images\blog\author.png" alt="image">
                                </div>
                                <a href="#0" class="post-author__name">Andres Todd</a>
                            </div>
                        </div>
                    </div><!-- post-card end -->
                    <div class="post-card">
                        <div class="post-card__thumb">
                            <img src="~/Themes/assets\images\blog\2.jpg" alt="image">
                        </div>
                        <div class="post-card__content">
                            <a href="#0" class="post-type"><i class="las la-file-alt"></i></a>
                            <span class="date">Sep 15, 2020</span>
                            <h3 class="post-title"><a href="blog-details.html">Benefits of Gaming - PC and Video Games</a></h3>
                            <div class="post-author mt-3">
                                <div class="post-author__thumb">
                                    <img src="~/Themes/assets\images\blog\author.png" alt="image">
                                </div>
                                <a href="#0" class="post-author__name">Andres Todd</a>
                            </div>
                        </div>
                    </div><!-- post-card end -->
                </div>
            </div>
        </div>
    </div>
</section>