﻿@model IEnumerable<Entities.GameCategory>
@{
    Layout = null;
}

<div class="text-left">
    <p>Có tất cả <strong>@ViewBag.RowCount</strong> mặt hàng. Bạn đang ở trang <strong>@ViewBag.Page</strong> trên tổng số <strong>@ViewBag.PageSize</strong> trang.</p>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>CategoryName</th>
            <th>GameName</th>

            <th class="text-right">
                @*<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal_Add">
                        <i class="fa fa-plus"></i>
                    </button>*@
                <a href="~/GameCategory/Add" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    <a href="~/GameCategory/Edit/@item.GameCategoryId"></a>
                </td>*@
                <th>@item.CategoryName</th>
                <th>@item.GameName</th>

                <td>
                    <a href="~/GameCategory/Edit/@item.GameName" class="btn btn-xs btn-info"><i class="fa fa-edit"></i></a>
                    <a href="~/GameCategory/Delete/@item.CategoryName" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.PageCount; i++)
        {
            if (i - 1 == 0)
            {
                int pageGiam = ViewBag.Page - 1;
                if (pageGiam < 1)
                {
                    <li><a style="cursor:not-allowed">&lt;&lt;</a></li>
                }
                else
                {
                    <li><a href="javascript:;" onclick="getProducts(@pageGiam)">&lt;&lt;</a></li>
                }

            }
            if (i == ViewBag.Page)
            {
                <li class="active"><a href="javascript:;">@i</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="getProducts(@i)">@i</a></li>
            }
            if (i + 1 > ViewBag.PageCount)
            {
                int pageTang = ViewBag.Page + 1;
                if (pageTang >= ViewBag.PageCount + 1)
                {
                    <li><a style="cursor:not-allowed;">&gt;&gt;</a></li>
                }
                else
                {
                    <li><a href="javascript:;" onclick="getProducts(@pageTang)">&gt;&gt;</a></li>
                }
            }
        }
    </ul>
</div>


